# this is an example of the Crewmeister API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Crewmeister API
  description: Move your app forward with the Crewmeister API
  version: "2.0.0"
# the domain of the service
host: crewmeister.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/v2
produces:
  - application/json
paths:
  /crew/:crew_id/time-tracking/stamps:
    get:
      summary: Time tracking stamps
      description: |
        The stamps endpoint responds information about the raw/unweighted time trackings
        of a given crew. Stamps containing the same *clockInTimestamp* attribute belong 
        to one *stamp-chain*.
      parameters:
        - name: start_time
          in: query
          description: Start time from where the stamps should be fetched.
          required: true
          type: string
          format: date
        - name: end_time
          in: query
          description: End time until when the stamps should be fetched.
          required: true
          type: string
          format: date
        - name: user_ids
          in: query
          description: A comma seperated list of user_ids for which the user_ids should be filtered.
          required: false
          type: string
          format: comma-seperated-list
      tags:
        - Time Tracking
      responses:
        200:
          description: An array of stamps
          schema:
            type: object
            properties:
              message:
                type: string
                description: A simple status message.
              status_code:  
                type: integer
                description: A unique status code.
              payload: 
                type: array
                items:
                  $ref: '#/definitions/Stamps'
definitions:
  Stamps:
    type: object
    properties:
      timeAccount:
        type: integer
        description: The time account.
      timestamp: 
        type: string
        description: ISO8601
      note: 
        type: string
        description: A note
      groupId:
        type: integer
        description: The group id
      location: 
        type: string
        description: A note
      clockInTimestamp:
        type: string
        description: ISO8601
      userId: 
        type: integer
        description: The group id
