# this is an example of the Crewmeister API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Crewmeister API
  description: Move your app forward with the Crewmeister API
  version: "2.0.0"
# the domain of the service
host: crewmeister.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api/v2
produces:
  - application/json
paths:
  /crew/:crew_id/time-tracking/durations:
    get:
      summary: Time tracking durations
      description: |
        The duration endpoint gives access to *weighted* time tracking values in crewmeister (eg. for use in statistics).
      parameters:
        - $ref: '#/parameters/start_time'
        - $ref: '#/parameters/end_time'
        - $ref: '#/parameters/user_id_filter'
        - $ref: '#/parameters/group_id_filter'
        - name: groupBy
          in: query
          description: The entities on which the durations should be grouped by. If one wants to get all time durations for a user, he should group by user.
          type: string
          required: false
          format: comma-separated-list
          enum:
            - user
            - group
        - name: granularity
          in: query
          description: The time granularity on which durations should be grouped by.
          required: true
          type: string
          enum:
            - day
            - week
            - month
      responses:
        200:
          description: An array different durations
          schema:
            type: object
            properties:
              message:
                type: string
                description: A simple status message.
              status_code:  
                type: integer
                description: A unique status code.
              payload: 
                type: array
                items:
                  $ref: '#/definitions/Duration'
  
  /crew/:crew_id/time-tracking/stamps:
    get:
      summary: Time tracking stamps
      description: |
        The stamps endpoint responds information about the raw/unweighted time trackings of a given crew. Stamps containing the same *clockInTimestamp* attribute belong to one *stamp-chain*.
      parameters:
        - $ref: '#/parameters/start_time'
        - $ref: '#/parameters/end_time'
        - $ref: '#/parameters/user_id_filter'
      tags:
        - Time Tracking
      responses:
        200:
          description: An array of stamps
          schema:
            type: object
            properties:
              message:
                type: string
                description: A simple status message.
              status_code:  
                type: integer
                description: A unique status code.
              payload: 
                type: array
                items:
                  $ref: '#/definitions/Stamp'
                  
parameters:
  user_id_filter:
    name: userIds
    in: query
    description: A comma seperated list of user_ids which should be filtered. If parameter is missing this filter won't be applied.
    required: false
    type: string
    format: comma-separated-list
  group_id_filter:
    name: groupIds
    in: query
    description: A comma seperated list of group_ids which should be filtered. If parameter is missing this filter won't be applied.
    required: false
    type: string
    format: comma-separated-list 
  start_time:
    name: startTime
    in: query
    description: Start time from where the stamps should be fetched.
    required: true
    type: string
    format: time
  end_time:
    name: endTime
    in: query
    description: End time from where the stamps should be fetched.
    required: true
    type: string
    format: time

definitions:
  Stamp:
    type: object
    properties:
      timeAccount:
        type: integer
        description: The time account.
      timestamp: 
        type: string
        description: ISO8601
      note: 
        type: string
        description: A note
      groupId:
        type: integer
        description: The group id
      location: 
        type: string
        description: A note
      clockInTimestamp:
        type: string
        description: ISO8601
      userId: 
        type: integer
        description: The group id
        
  Duration:
    type: object
    properties:
      type:
        type: string
        description: The type of the duration (grouped_by, total).
        enum:
          - total
          - grouped_by
      index: 
        type: integer
        description: The array index or offset of the duration from the given start date. If no duration was found in the given granuarity and time period, the duration isn't returned from the server.
      value: 
        type: string
        description: ISO8601 duration string
      groupBy:
       type: object
       properties:
         userId: 
           type: integer
         groupId: 
           type: integer
           